<!DOCTYPE html>
<head>
<title>Node to do app</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link href="/assets/main.css" rel="stylesheet" type="text/css">
<script src="/assets/todo-list.js"></script> 
</head>
<body>
<header>
    <h1>To-Do App</h1>
</header>
<section class="todo-table">
    <form class="todo-adding">
        <input class="todo__input" type="text" name="item" placeholder="add new item..." required />
        <button class="todo__button" type="submit">Add item</button>
    </form>
    <ul>
       <% for(var i=0; i<todos.length; i++) { %>
        <li><%= todos[i].item %></li>
       <% } %>
    </ul>
</section>
</body>
</html>