@import './variables.scss';
@import './mediaQueries.scss';
@mixin get-To-Do($width, $marginLeft,$marginRight){
    width: $width;
    margin-left: $marginLeft;
    margin-right: $marginRight;
}
@mixin  formElementProperties($width,$marginTop,$marginRight,$marginBotton,$marignLeft) {
    width: $width;
    margin: $marginTop $marginRight $marginBotton $marignLeft;
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
}
header{
    text-align: center;
    h1{
    font-size: 3em;
    color: coral;
    font-family: sans-serif;  
        @include sm{
        font-size: 4em;
        color:darkslategrey;
        }
    } 
} 
.todo-table{
    box-sizing: border-box;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px 20px;
    background-color: rgba(0,0,0,0.5);
    @include sm{
       @include get-To-Do(90%,5%,5%)
    }
    @include md{
        @include get-To-Do(80%,10%,10%)
     }
     @include lg{
        @include get-To-Do(70%,15%,15%)
     }
    @include xl{
        @include get-To-Do(60%,20%,20%)
     }
    li{
        font-size: 1.6em;
        list-style: decimal;
        color: #c0e5f1;
        padding-bottom: 10px;
        letter-spacing: 2px;
        @include sm{
            font-size: 2.5em;
         }
         @include md{
             font-size: 2em;
         }
         @include lg{
            font-size: 1.8em;
        }
        @include xl{
            font-size: 1.6em;
        }
       
    }
}
.todo-adding{
    .todo__input{
        @include formElementProperties(70%,20px,10px,20px,0px);
        padding: 15px 10px;
        @include sm{
            font-size: 28px;
         }
         @include md{
             font-size: 26px;
         }
         @include lg{
             font-size: 24px;
         }
         @include xl{
             font-size: 20px;
         }
    }
    .todo__button{
        @include formElementProperties(20%,20px,0px,20px,10px);
        float: right;
        padding: 15px 10px; 
        font-size: 20px;
        font-weight: bold;
        background-color: cadetblue;
        border: 2px solid darkslategray;
        color: aliceblue;
        @include sm{
            font-size: 28px;
         }
         @include md{
             font-size: 26px;
         }
         @include lg{
             font-size: 24px;
         }
         @include xl{
             font-size: 20px;
         }
    }
 
}