body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
  color: coral;
  font-family: sans-serif;
}

@media (min-width: 576px) {
  header h1 {
    font-size: 4em;
    color: darkslategrey;
  }
}

.todo-table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 25px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 576px) {
  .todo-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 768px) {
  .todo-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 992px) {
  .todo-table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1270px) {
  .todo-table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.todo-table li {
  font-size: 1.6em;
  list-style: decimal;
  color: #c0e5f1;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

@media (min-width: 576px) {
  .todo-table li {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {
  .todo-table li {
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .todo-table li {
    font-size: 1.8em;
  }
}

@media (min-width: 1270px) {
  .todo-table li {
    font-size: 1.6em;
  }
}

.todo-adding .todo__input {
  width: 70%;
  margin: 20px 10px 20px 0px;
  padding: 15px 10px;
}

@media (min-width: 576px) {
  .todo-adding .todo__input {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .todo-adding .todo__input {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .todo-adding .todo__input {
    font-size: 24px;
  }
}

@media (min-width: 1270px) {
  .todo-adding .todo__input {
    font-size: 20px;
  }
}

.todo-adding .todo__button {
  width: 20%;
  margin: 20px 0px 20px 10px;
  float: right;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: cadetblue;
  border: 2px solid darkslategray;
  color: aliceblue;
}

@media (min-width: 576px) {
  .todo-adding .todo__button {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .todo-adding .todo__button {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .todo-adding .todo__button {
    font-size: 24px;
  }
}

@media (min-width: 1270px) {
  .todo-adding .todo__button {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */